# 資産管理

下記のような仕入売上データがあるとする。

In [14]:
import pandas as pd
data = {
    "date": [f"{i}日" for i in [1, 9, 12, 23, 26, 31]],
    "内容": ["前月繰越", "仕入", "売上", "仕入", "売上", "次月繰越"],
    "数量": [100, 150, 200, 150, 100, 100],
    "単価": [10, 11, None, 12, None, None]
}
df = pd.DataFrame(data)
df

  date    内容   数量    単価
0   1日  前月繰越  100  10.0
1   9日    仕入  150  11.0
2  12日    売上  200   NaN
3  23日    仕入  150  12.0
4  26日    売上  100   NaN
5  31日  次月繰越  100   NaN

## 先入先出法
売り上げがあった時点で先に仕入れたものから引き出して販売する方法

上記データにおいて、売上と引き当て情報をまとめると以下となる。

In [15]:
import pandas as pd
sales = {
    "date": [f"{i}日" for i in [12, 12, 26, 26]],
    "売上数量": [100, 100, 50, 50],
    "引当": ["前月繰越", "9日仕入", "9日仕入", "23日仕入"],
    "引当個数": [100, 100, 50, 50],
    "単価": [10, 11, 11, 12]
}
salesdf = pd.DataFrame(sales)
salesdf

  date  売上数量     引当  引当個数  単価
0  12日   100   前月繰越   100  10
1  12日   100   9日仕入   100  11
2  26日    50   9日仕入    50  11
3  26日    50  23日仕入    50  12

この場合、売上原価と期末棚卸高は次のようになる

In [17]:
売上原価 = sum([q * p for q, p in zip(salesdf["引当個数"], salesdf["単価"])])
期末棚卸高 = 100 * 12 # 23日入荷分(仕入れ単価12)のうち100が残り、期末棚卸高となる。
売上原価, 期末棚卸高

(3250, 1200)

## 後入先出法
売上があった時点の直前に仕入れたものから引き出して販売

In [19]:
import pandas as pd
sales = {
    "date": [f"{i}日" for i in [12, 12, 26]],
    "売上数量": [150, 50, 100],
    "引当": ["9日仕入", "前月繰越", "23日仕入"],
    "引当個数": [150, 50, 100],
    "単価": [11, 10, 12]
}
salesdf2 = pd.DataFrame(sales)
salesdf2

  date  売上数量     引当  引当個数  単価
0  12日   150   9日仕入   150  11
1  12日    50   前月繰越    50  10
2  26日   100  23日仕入   100  12

In [21]:
売上原価 = sum([q * p for q, p in zip(salesdf2["引当個数"], salesdf2["単価"])])
期末棚卸高 = 50 * 10 + 50 * 12 # 前月繰越分50個, 23日仕入分50個
売上原価, 期末棚卸高

(3350, 1100)